<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nifty_cloud_spa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEFC5D251C5B900000F48388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFC5D391C5B900000F48388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFC5D441C5B900000F48388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
